
*.pt
*.pyc
*.pyc
*.pyc

## Discard ./Data foler
./Data
./logs
# Ignore everything in the Data folder
/Data/*
/Notebooks/Models/*
/logs/*
*.png
Scripts/__pycache__/*
Notebooks/tensor_product.ipynb
Figures/*
